body{
    background-image: url("background.svg");
    font-family: Roboto;
}
.topSection{
    background-color: #3d313f;
    opacity: .8;
    color: #f5f5f5;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: -1%;
}
.topSectionWords{
    margin-left: 2%;
}
.topSectionWordsNav{
    background-color: #4d3e49;
    opacity: .8;
    margin-bottom: -10%;
}
.navigation {
    background-color: #4d3e49;
    color: #f5f5f5;
    width: 12%;
    height: 20%;
    border: none;
    margin-bottom: 0%;
}
.navigation:hover{
    box-shadow: 0 5px 50px 0 #232f3e inset, 0 5px 50px 0 #232f3e,
        0 5px 50px 0 #232f3e inset, 0 5px 50px 0 #232f3e;
}
.title{
    margin-left: 500px;
    font-size: 75px;
    float: right;
}
.container{
    background: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.columnText {
    font-size: 48px;
    color: #403441;
    float: right;
    width: 25%;
    padding: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
  }

.column {
    width: 10%;
    height: 10%;
    margin-top: 10%;
    max-width: 10%;
  }
  
.image:hover{
    box-shadow: 0 5px 50px 0 #232f3e inset, 0 5px 50px 0 #232f3e,
        0 5px 50px 0 #232f3e inset, 0 5px 50px 0 #232f3e;
}
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

.image {
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.text{
    font-size: 24px;
    color: #403441;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

@media screen and (min-width: 800px) {
    .image {
      width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
  }